/* Custom quiz styles from Mother Jones News Quiz plugin */

h3 {
    font-size: 30px;
    color: white;
}

p {
    text-align: left;
    color: white;
}

.list-unstyled li {
  background-color: grey;
}

.title {
  font-weight: bold;
}

.bg-warning {
  background-color: grey;
}

.possible_answer  {
    padding: .5em;
    color: black;
    background-color: #CECECE;
    margin: 20px;
}

.possible_answer:hover {
	background-color: grey;
	cursor: pointer;
  font-weight: bold;
}

.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
}

.wrong-answer {
	background: #FF8362;
}

.correct-answer {
    background: #62DA97;
}

.selected {
    opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.how_you_did {
	text-align: center;
	padding: 1em;
	background-color: grey;
	font-weight: bold;
	font-size: 1.25em;
	-webkit-box-shadow: 0px 7px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 7px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 7px 5px rgba(50, 50, 50, 0.65);
}

/*multimedia styling*/
.youtube {
	margin-bottom: 1em;
	min-height: 200px;
	max-height: 200px;
}

.possible_answer img {
	max-height: 24em;
}

.question img, .revealed_answer img, .selected img, .correct-answer img, .wrong-answer img {
    max-height: 24em;
    display: block;
}

.videoembed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoembed iframe, .videoembed object, .videoembed embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
