@import url('reset.css');

/*  General styles */
body{
	background: #fff;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
}
a{
	color: #555;
	text-decoration: none;
}
a:hover{
	color: #000;
}
.clr{
	clear: both;
}
.wrapper{
	position: relative;
	width: 100%;
}
.wrapper p{
	clear: both;
	font-size: 24px;
	line-height: 40px;
	/*text-align: center;*/
}
.reference p{
	padding-top: 40px;
	padding: 1em;
	color: black;
	text-align: center;
}
h1{
	font-size: 34px;
	position:relative;
	color: #000;
	font-weight: 400;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    padding: 20px;
	z-index:1000;
	text-transform: uppercase;
	text-align: center;
}
h1 span{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	text-transform: none;
	font-size: 20px;
}
/*  Header style */
.header{
	font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	padding: 10px 5px;
	background: #000;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}
.header a{
	line-height: 18px;
	padding: 0 4px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000;
	color: #ddd;
}
.header a:hover{
	color: #fff;
}
.header a span{
	font-weight: bold;
}
.header span.right{
	float: right;
}

/* Intro slide styles */
#content-intro {
	color: white;
  padding: 0em 4em;
  text-align: left;
  line-height: 1.75em;
}

#quote-byline {
	color: black;
	font-size: 30px;
	font-weight: bold;
}


/* Slider styles */
.slider-box {
	border: solid black 1px;
	background: rgba(0,0,0,.5);
	padding: 1em;
	line-height: 30px;
}

.slider-text {
	text-align: center;
	line-height: 2em;
}

.slider-content-text {
	color: white;
	font-size: 25px;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

#slider2 {
	margin: 0% 2% 0% 50%;
	top: 30%;
}

#slider3 {
	margin: 0% 30% 0% 2%;
	top: 50%;
}

#slider4 {
	margin: 0% 2% 0% 10%;
  top: 60%;
}

#slider5 {
	margin: 0% 22% 0% 2%;
	top: 5%;
}

#slider6 {
	margin: 0% 2% 0% 55%;
	top: 30%;
}

/* Styles for the tooltips */
.tooltip-setup {
	position: absolute;
  top: 0%;
  left: 0%;
  width: 10px;
  height: 10px;
}

#tooltip1-position {
	top: 20%;
  left: 14%;
}

#tooltip2-position {
	top: 50%;
  left: 35%;
}

#tooltip3-position {
	top: 15%;
  left: 72%;
}

#tooltip4-position {
	top: 40%;
  left: 44%;
}

#tooltip5-position {
	top: 20%;
  left: 20%;
}

#tooltip6-position {
	top: 50%;
  left: 83%;
}

#tooltip7-position {
	top: 10%;
  left: 80%;
}

#tooltip8-position {
	top: 50%;
  left: 37%;
}

#tooltip9-position {
	top: 35%;
  left: 86%;
}

#tooltip10-position {
	top: 50%;
  left: 50%;
}

#tooltip11-position {
	top: 55%;
  left: 15%;
}

#tooltip12-position {
	top: 20%;
  left: 25%;
}

#tooltip13-position {
	top: 40%;
  left: 40%;
}

.custom-tool-tip-small {
	font-size: 20px;
	line-height: 23px;
	width: 150px;
}

.custom-tool-tip-large {
	font-size: 20px;
	line-height: 23px;
	width: 200px;
}

/* Quiz style; enables scrolling */
.fixed-quiz-container {
	position: absolute;
	top: 10%;
	align-content: center;
	border: solid black 1px;
	overflow: scroll;
	background: rgba(0,0,0,.5);
  height: 80%;
  width:100%;
  padding:2em 6em 2em 6em;
}

.quiz-content {
	height: 100%;
  width:100%;
  overflow: scroll;
}

#quiz-title {
	text-align: center;
	padding-bottom: 10px;
}

/* Styles for responsive design */
@media screen and (max-width: 860px) {
	.header a{
		display: block;
		text-align: center;
		font-size: 10px;
		text-shadow: none;
	}
	.header span.right{
		float: none;
	}
	#content-intro {
		padding: 0em 1em;
    font-size: 150%;
	}
	.slider-content-text {
		font-size: 15px;
		line-height: 30px;
	}
	#slider2, #slider3, #slider4, #slider5, #slider6, #slider7 {
		margin: 0%;
		top: 65%;
	}
	.fixed-quiz-container {
		padding:1em 1em 1em 1em;
	}
}
